.vs/bg7jws/v17/.wsuo
.vs/bg7jws/FileContentIndex/read.lock
.vs/bg7jws/FileContentIndex/0f670bd7-5904-43b6-ac08-10f33a58d4ea.vsidx
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/bg7jws/FileContentIndex/55b8ebd3-b04c-4c1d-9f4f-fc3e5c28227f.vsidx
